html {
    font-family: sans-serif;
  }

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
}

a {
  font-size: 20px;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.animate-button {
  animation: vibrate 0.2s infinite alternate;
}
.animate-button:hover {
  background-color: green;
  animation: none;
}
.link{
  color: black;
  text-decoration: none;
  position: relative;
}
.link::before {
  content: '';
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0; 
  height: 2px;
  background-color: #00cc00; 
  transition: width 0.3s ease; 
  transform: translateX(-50%); 
}
.link:hover::before {
  width: 100%; 
}
.link:hover {
  color: #00cc00;
}
.ball {
  position:absolute;
  width: 50px;
  height: 50px;
  background: #23d74d;
  border-radius: 100%;
  left:30px;
  animation: dws-bounce 1.6s ease, dws-bounce-2 1.3s 1.6s ease,
  dws-bounce-3 1.1s 2.9s ease, dws-bounce-4 0.8s 4s ease-out,
    dws-bounce-5 0.72s 4.8s ease-in-out, dws-bounce-6 0.57s 5.52s ease-out,
  dws-bounce-7 0.36s 6.09s ease-in-out, dws-bounce-8 0.26s 6.45s ease-out
     ;
  }
  
  @keyframes dws-bounce {
  0% { bottom: 80%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:60px; height:20px;}
  35% { bottom:0; width:50px; height:50px; }
  100% { bottom:45%;}
  }
  
  @keyframes dws-bounce-2 {
  0% { bottom: 45%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:60px; height:25px;}
  35% { bottom:0; width:50px; height:50px; }
  100% { bottom:30%;}
  }
      
  @keyframes dws-bounce-3 {
  0% { bottom: 30%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:55px; height:35px;}
  35% { bottom:0; width:50px; height:50px; }
  100% { bottom:20%;}
  }     
      
  @keyframes dws-bounce-4 {
  0% { bottom: 20%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:53px; height:45px;}
  35% { bottom:0; width:50px; height:50px;}
  100% { bottom:16%;}
  }
            
  @keyframes dws-bounce-5 {
  0% { bottom: 16%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:53px; height:45px;}
  35% { bottom:0; width:50px; height:50px;}
  100% { bottom:10%;}
  }     
  
  @keyframes dws-bounce-6 {
  0% { bottom: 10%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:53px; height:45px;}
  35% { bottom:0; width:50px; height:50px;}
  100% { bottom:4%;}
  }
      
  @keyframes dws-bounce-7 {
  0% { bottom: 4%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:53px; height:46px;}
  35% { bottom:0; width:50px; height:50px;}
  100% { bottom:2%;}
  } 
  @keyframes dws-bounce-8 {
  0% { bottom: 2%; }
  25% { bottom:0; width:50px; height:50px;}
  30% { bottom:0; width:51px; height:48px;}
  35% { bottom:0; width:50px; height:50px;}
  100% { bottom:0%;}
  }


 
  


