html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.container{
  display: flex;
  flex-direction: column;
}

.top{
  display: flex;
  flex-direction: row;
}

.bottom{
  display: flex;
  flex-direction: row-reverse;
}

.bottom-right{
  display: flex;
  flex-direction: column-reverse;
}

.bottom-left{
  display: flex;
  flex-direction: column;
}

.bottom-left-first{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.bottom-left-second{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}