html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
  }

  .adaptive{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
  
  }

  @media screen and (min-width:1400px){

    
    .adaptive>article:nth-child(1),
    .adaptive>article:nth-child(2),
    .adaptive>article:nth-child(4),
    .adaptive>article:nth-child(5){
      grid-column: span 2;
    }
    .adaptive>article:nth-child(3){
      grid-column: 1 / -1;
    }
    .adaptive>article:nth-child(6){
      grid-column: 1
    }
      
  }

  @media screen and (min-width: 700px) and (max-width:1399px){
    .adaptive>article{
      grid-column: span 2;
    }

    .adaptive>article:nth-child(1),
    .adaptive>article:nth-child(2),
    .adaptive>article:nth-child(3){
      grid-column: span 4;
    }

  }

  @media screen and (max-width:699px){
    .adaptive>article{
      grid-column: span 4;
    }
  }

